* {
    margin: 0;
}
@keyframes spawner {
    0% {
        transform: translateY(40px);
    }
    100% {
        transform: translateY(0);
    }
}

:root {
    --interface-primary: #1d1d1d;
    --interface-secondary: #2e2e2e;
    --interface-text: #efefef;
}
body {
    font-family: 'KIDS Rikai', system-ui;
    background-color: var(--interface-primary);
    font-size: 10pt;
    color: var(--interface-text);
}
.top-container {
    display: flex;
    align-items: center;
}
.tabs {
    padding: 10px;
    display: inline-flex;
    user-select: none;
    align-items: center;
    animation: spawner 0.5s ease;
}
.tabs p {
    margin-left: 5px;
}
.active {
    background-color: var(--interface-secondary);
}
.app-controls {
    margin-left: auto;
    order: 2;
}
.control-buttons {
    padding: 10px;
    display: inline-block;
}
.control-buttons:hover {
    background-color: var(--interface-secondary);
}
.main-body {
    background-color: var(--interface-secondary);
    padding: 10px;
    height: calc(100vh - 65px);
    z-index: 9999;
}
.tabs-container img {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-flex;
    -webkit-app-region: drag;
    user-select: none;
    align-items: center;
}
.container {
    display: none;
}
.tabs-container {
    max-width: 90vw;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.tabs-container::-webkit-scrollbar {
    display: none;
}
.terminate-button {
    font-size: 12pt !important;
}